#main-box {
	left: 10%;
	right: 10%;
	background-color: #efefef;
}

#dialog-box {
	width: 100%;
	height: 480px;
	overflow-y: scroll;
}

#send-box {
	width: 100%;
}

.message-box {
	width: 100%;
	border-radius: 4px;
}